:root {
  --Main_Font: Inter, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial,
    sans-serif;
  --font-size: 26px;
  --ph-font-size: 26px;
  --left-theme: #2ae98b;
  /* #d68528 */
  /* #ff5722e6 */
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  transition: all linear 0.2s ease-in-out;
}
body {
  background-color: #151515;
  scroll-behavior: smooth;
  /* animation: body 1s linear; */
  /* transition: all linear 2s; */
  scroll-behavior: smooth;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 99vh;
  max-width: 1400px;
  margin: 0 auto;
}
/* Left Side */
.left-half {
  /* background: ff9e2c#; */
  grid-column: 1;
  /* position: sticky; */
  padding-top: 10px;
  margin: 5px;
}
.left-container {
  max-width: 450px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}
.logo {
  width: 30px;
  height: 30px;
  background-image: url("img/b.png");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.pop {
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.arrow{
  color: var(--left-theme);
  font-weight: 700;
  font-size: 16px;
}
.fullName {
  font-family: var(--Main_Font);
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  color: rgb(255 255 255/1);
  letter-spacing: -0.025em;
  line-height: 1;
}
.profession {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 20px;
  color: var(--left-theme);
}
.profilePicture {
  padding: 10px;
}
.biruk-image {
  /* width: 150px; */
  height: 250px;
  /* filter: grayscale(100%); */
  /* border-radius: 10% 30% 50% 70%; */
  filter: drop-shadow(5px 5px 10px #000000);
  border: 4px solid var(--left-theme);
  padding: 2px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: border-animation 3s infinite alternate;
  border-top-color: var(--left-theme);
  border-left-color: var(--left-theme);
  box-shadow: 1px 1px 21.8px var(--left-theme);
  /* background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%); */
}

.description {
  color: rgb(148 148 149 /1);
  font-size: 16px;
  font-family: var(--Main_Font);
  line-height: 1.4;
  margin: 5px;
  margin-top: 10px;
}
.social-wrapper {
  display: flex;
  margin: 15px 0;
  gap: 15px;
}
.social-wrapper a {
  transition: 0.2s ease-in;
}
.social-wrapper a:hover {
  scale: 1.15;
  transition: 0.2s ease-in;
}

/* The Cursor Changing Animation */
#placeholder {
  font-size: var(--ph-font-size);
}

#cursor {
  display: inline-block;
  height: var(--ph-font-size);
  width: 3px;
  background-color: var(--left-theme);
  margin-left: 1px;
  translate: 0 calc(var(--ph-font-size) / 4);
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

.navMenu {
  font-family: var(--Main_Font);
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 30px;
  scroll-behavior: smooth;
}

/* adjfkasdjflkasdjlfkjadslf */

.menu {
  display: block;
  position: fixed;
  right: 5px;
  bottom: calc((100vh - 20px - 400px) * 1);
  width: 70px;
  height: 400px;
  list-style: none;
  background-color: #232222;
  top: 20%;
  box-shadow: 0 4px 30px #ffffff1a;
}

.menu li {
  width: 100%;
  height: calc(400px / 5);
  outline: 1px solid #555;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #555;
  }
}

/* ajdlkjflajselfjalfj */

.contact {
  margin-top: 40px;
}
.talk-btn {
  border: solid 2px white;
  padding: 15px;
  background-color: var(--left-theme);
  color: black;
  font-family: var(--Main_Font);
  font-weight: 700;
  width: 200px;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}
.talk-btn:hover,
.talk-btn:focus {
  animation: wiggle 2s linear infinite;
  scale: 1.1;
}

/* Right Side */
.right-half {
  grid-column: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  margin-top: 30px;
  transition: all linear 2s ease-in-out;
}
.right-half::-webkit-scrollbar {
   /* Hide the scrollbar for WebKit browsers */
   border: 0px solid;
   width: 6px;
}
.right-half::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
.right-half::-webkit-scrollbar-thumb {
  background: var(--left-theme);
  border-radius: 5px;
  height: 10%;
  
}
.right-container {
  position: relative;
  scroll-behavior: smooth;
  width: calc(100% - 75px);
}

/* About Me Section */

.title-badge {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid transparent;
  width: fit-content;
  padding: 5px 20px;
  color: white;
  font-family: var(--Main_Font);
  background: rgba(189, 189, 189, 0.05);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(3.8px);
  font-size: 12px;
  border-radius: 5px;
  animation: 3s linear 1s infinite running slidein;
  cursor: pointer;
  scroll-behavior: smooth;
}
.about-title {
  font-family: var(--Main_Font);
  font-size: 44px;
  color: white;
  font-weight: 500;
  margin-top: 15px;
}

.about-title span {
  color: #2ae98b;
}

.about-desc {
  font-family: var(--Main_Font);
  font-size: 15.5px;
  color: #cecccc;
  text-align: justify;
  margin-top: 30px;
  width: 98%;
  line-height: 1.9;
}
.about-desc p {
  margin-top: 20px;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.button-4:hover,
.button-4:focus {
  text-decoration: none;
  transition-duration: 0.1s;
  box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;
  transition: 0.2s ease-in;
}
.button-4:active {
  background-color: #edeff2;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

/* Educational DEtail Section */

.educational-detail {
  margin-top: 80px;
}

.edu-box {
  border: 1px solid green;
  font-family: var(--Main_Font);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  margin: 5px;
  margin-top: 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid #ffffff1f;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.edu-box:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.32);
  transition: 0.2s ease-in-out;
  scale: 1.01;
}
.edu-date {
  color: #949494;
}
.edu-title {
  font-size: 27px;
  color: white;
  font-weight: 500;
}
.edu-desc {
  font-size: 15px;
  color: #dddddd;
  text-align: justify;
}
.edu-location {
  color: #949494;
}

/* Skill Section */
.skill-section {
  margin-top: 80px;
}

.skill-container {
  margin: 5px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.sk-img {
  width: 50px;
  height: 50px;
  border: 1px solid #1f1f21;
  background: rgba(189, 189, 189, 0.05);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(3.8px);
  padding: 20px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.sk-img:hover {
  border-color: var(--left-theme);
  transition: 0.2s ease-in-out;
  scale: 1.1;
}

/* Project Section */
.project-section {
  margin-top: 80px;
  scroll-behavior: smooth;
}
.project-section a {
  text-decoration: none;
  list-style: none;
}
.proj-box {
  scroll-behavior: smooth;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
  margin-top: 20px;
  padding: 20px;
  font-family: var(--Main_Font);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.proj-box:hover {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #535353;
  transition: 0.2s ease-in-out;
}
.proj-box:hover .proj-title {
  color: var(--left-theme);
  transition: 0.1s;
}
.proj-box:hover .proj-title span {
  position: absolute;
  padding-left: 10px;
  transition: 0s;
}
.proj-image {
  height: 210px;
  border-radius: 4px;
}
.proj-title {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
.proj-title span {
  font-size: 18px;
  font-weight: 300;
}
.proj-desc {
  font-size: 15px;
  color: #dddddd;
  text-align: justify;
  margin-top: 15px;
  line-height: 1.4;
  word-spacing: 3px;
  font-weight: 200;
}
.proj-tags {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.proj-tags span {
  font-size: 12px;
  color: var(--left-theme);
}

/* Experience Section */
.experience-section {
  margin-top: 80px;
}

/* Timeline Container */
.timeline {
  margin: 0px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #fff;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: gray;
  border-radius: 8px;
  max-width: 600px;
  font-family: var(--Main_Font);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.card:hover,
.card:focus {
  box-shadow: 0 4px 30px #4444441a;
  transition: 0.2s ease-in-out;
  /* border: 1px solid red; */
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info p {
  line-height: 1.6;
  text-align: justify;
}

/* Title of the card */
.title {
  position: relative;
  font-size: 24px;
  color: white;
  font-weight: 400;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--left-theme);
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--left-theme);
}

.ex-type {
  color: #e9e9e9;
}

/* Contact Form */
.contact-section {
  margin-top: 80px;
}
form {
  max-width: 420px;
  margin: 30px 20px;
}

.feedback-input {
  color: white;
  font-family: var(--Main_Font);
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid var(--left-theme);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: var(--Main_Font);
  width: 100%;
  letter-spacing: 2px;
  background: var(--left-theme);
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  color: #000000;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s;
  margin-top: -4px;
  font-weight: 500;
}
[type="submit"]:hover {
  scale: 1.02;

}

/* Responsive Code */
@media (max-width: 1380px) {
  /* Your CSS styles for screens equal to or below 960 pixels wide */
  /* For example: */
  .skill-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  /* Your CSS styles for screens equal to or below 960 pixels wide */
  /* For example: */
  .container {
    display: block;
  }
  .left-half {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about-desc {
    width: 100%;
  }
  .description {
    max-width: 450px;
    font-size: 19px;
  }
  .about-me,
  .educational-detail,
  .skill-section,
  .project-section,
  .experience-section,
  .contact-section {
    padding: 20px;
  }
  .progress {
    display: none;
  }

  .proj-box {
    align-items: flex-start;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    gap: 10px;
  }
  .social-wrapper {
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .card {
    max-width: 100%;
  }
  .navMenu {
    position: fixed;
    left: 0;
  }
  .biruk-image {
    height: 450px;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 730px) {
  /* Your CSS styles for screens equal to or below 960 pixels wide */
  /* For example: */
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-me,
  .educational-detail,
  .skill-section,
  .project-section,
  .experience-section,
  .contact-section {
    padding: 10px;
  }
  .proj-box {
    flex-direction: column;
    align-items: center;
  }
  .biruk-image {
    height: 350px;
  }
}

@media (max-width: 520px) {
  .menu {
    display: none;
    position: relative;
  }
  .right-container {
    width: 100%;
  }
}

.progress {
  height: 3px;
  width: 5px;
  background-color: var(--left-theme);
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
.progress2 {
  height: 3px;
  width: 5px;
  background-color: var(--left-theme);
  position: fixed;
  right: 0;
  bottom: 0;
  animation: progress 1s linear;
}

.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x) var(--y),
    transparent 10%,
    rgba(0, 0, 0, 0.1) 20%
  );
}

/* image animation */
circle {
  width: 280px;
  height: 300px;
  left: 0%;
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 200;
}

/* Circles */

/* Animation */
@keyframes border-animation {
  to {
    border-radius: 50% 20% 70% 70% / 10% 80% 10% 50%;
  }
}

/* Creating a tooltip */
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 0.99em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: var(--Main_Font);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after {
  animation: tooltips-horz 250ms ease-out forwards;
}
